# binary igmore
/bin/
/build/

# ignore temp file
*.log
*.tmp
*.swp
*.exe

# Ignore go modules
/vendor/
invoices/

# Ignore go dependences
/go.mod
/go.sum

# editor setting files 
.idea/
.vscode/

# temrinal setting files 
#.env

# another settings files 
.DS_Store
